* {
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background: url("assets/bgCOpti.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 2px 4px #000;
}

h1, h2 {
    font-weight: normal;
    color: #e6b57e;
}

header {
    text-align: center;
}

header img {
    max-width: 302px;
}

#navX li {
    display: inline;
}

#navX ul {
    padding: 5px;
    list-style-type: none;
    font-size: large;
    border-radius: 7px;
    background: rgba(230, 181, 126, 0.5);
}

#navX a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}

#navX a:hover {
    font-size: x-large;
}

/* .bodyX:after {
    content: "";
    display: block;
    clear: both;
} */

.divX {
    height: 220px;
    position: relative;
    border-radius: 12px;
    background-image: url('assets/c10.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

#bakeX {
    background-image: url('assets/C2Opti.jpg');
}

#latteX {
    background-image: url('assets/c11.jpg');
}

section {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
    text-align: justify;
    line-height: 25px;
    border-radius: 12px;
    height: 60px;
    overflow: hidden;
}

.show section, section:hover {
    height: 70%;
}

#drinkX {
    background-image: none;
    height: auto;
}

#drinkX img {
    border-radius: 12px;
    display: inline-block;
}

#drinkX img:last-child {
    float: right;
}

.price {
    float: right;
}

footer {
    background-color: rgba(230, 181, 126, 0.8);
    border-radius: 5px 5px 0 0;
    padding: 2px;
    margin-top: 10px;
    text-align: center;
    font-size: small;
    text-shadow: 1px 1px 8px #000;
    clear: both;
}

/* burgerMenu X-Team */
#burgerMenuX {
    display: none;
    float: right;
    padding: 3px 10px;
    margin-right: 20px;
    background-color: rgba(185, 118, 40, 0.3);
    cursor: pointer;
    border-radius: 7px;
    position: sticky;
    top: 5%;
    z-index: 7;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5); 
}

#burgerMenuX:hover {
    background-color: rgba(230, 181, 126, 1);
}

#burgerMenuX span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5); 
    margin: 4px 0;
    border-radius: 7px;
}

.closeX span:first-child {
    -ms-transform: translate(0px, 8px) rotate(225deg) ;
    -webkit-transform: translate(0px, 8px) rotate(225deg) ;
    transform: translate(0px, 8px) rotate(225deg) ;
}

.closeX span:nth-child(2) {
    opacity: 0;
    /* background-color: red; */
}

.closeX span:last-child {
    -ms-transform: translate(0px, -8px) rotate(-225deg) ;
    -webkit-transform: translate(0px, -8px) rotate(-225deg) ;
    transform: translate(0px, -8px) rotate(-225deg) ;
}

/* SideMenuX Menu X-Team */
#sideMenuX {
    background-color: rgba(230, 181, 126, 0.8);
    padding-top: 20px;
    height: 100vh;
    width: 0px;
    text-align: center;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    overflow-x: hidden;
    color: #fff;
}

#sideMenuX ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: both;
}

#sideMenuX a {
    text-decoration: none;
    color: #fff;
    /* font-size: large; */
    padding: 10px 0px;
    display: block;
    margin: 5px;
}

#sideMenuX a:hover {
    text-shadow: 1px 1px 8px #fff;
    font-size: large;
    color: #101d49;
}

/* GotoTop X-Team */
#topX {
    position: sticky;
    top: 90%;
    z-index: 7;
    background-color: rgba(185, 118, 40, 0.3);
    margin-right: 20px;
    padding: 5px 12px;
    cursor: pointer;
    font-size: large;
    border-radius: 7px;
    float: right;
    display: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5); 
}

#topX:hover {
    background-color: rgba(230, 181, 126, 1);
    top: 88%;
}

/* Scrollbar X-Team */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e6b57e;
}

::-webkit-scrollbar-thumb {
    background-color: #6f402e;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 991px) {
    #drinkX {
        text-align: center;
        height: auto;
    }

    #drinkX img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #drinkX img:last-child {
        float: initial;
    }
}

@media screen and (max-width: 767px) {
    div {
        height: 320px;
    }

    .show section, section:hover {
        height: auto;
    }
}